.profile-container {
    height: 80%;
}

.profile-align {
    display: flex;
    flex-direction: column;
}

.profile-pic{
    width: 400px;
    height: 400px; 
    border-radius: 200px;
}

.profile-text{
    color: #404040;
}

p{
    font-size: 18px;
    line-height: 30px;
    font-family: Calibri;

}

h2{
    font-size: 5vw;
}

.profile-info-button{
    background: none;
    border: 2px solid #316ebc;
    border-radius: 20px;
    width: 120px;
    height: 35px;
    color: #316ebc;
    font-size: 16px;
    font-family: Calibri;
}

.profile-info-button:hover, .profile-info-button:focus{
    background:  #f7faff;
    border: 2px solid  #1b4f94;
}

.profile-button{
    border:none;
    background: none;
}

.profile-more-wrapper{
    display: flex;
    justify-content: end;
    align-items: center;
}

@media screen and (max-width: 990px) {
    .profile-align{
        align-items: center;
        margin-top: 10px;
    }
} 

@media screen and (max-width: 470px) {
    h2{
        font-size: 7vw;
    }
    .profile-pic{
        width: 80%;
        height: 80%; 
        border-radius: 200px;
    }

    .profile-more-wrapper{
        display: none;
    }
    
} 