
.skillslider-box-background{
   width: 100px;
    height: 20px; 
    background-color: #1987542e;
    border-radius: 2px;
}

.skillslider-box-skillLevel{
    height: 20px; 
    background-color: hwb(152 10% 47% / 0.474);
    border-radius: 2px;
   }

span{
    color: #404040;
    font-size: 18px;
    line-height: 30px;
    font-family: Calibri;
}
